.form{
    text-align: center;
    margin: 12px;
}
input{
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
.form button{
    border-radius: 15px;
    padding: 10px;
    background-color: blue;
    color: white;
    
}